<div class="modal fade" id="confirmationPopUp" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Obavestenje</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer function">
                <button type="button" class="btn btn-secondary deny" data-dismiss="modal">Odustani</button>
                <button type="button" class="btn btn-primary confirm">OK</button>
            </div>
            <div class="modal-footer no-function">
                <button type="button" class="btn btn-primary deny" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>